In [9]:
import pandas as pd

# Leer el CSV
df_books = pd.read_csv('data/books.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
# Mostrar las primeras filas
#print(df_books.head())
# Información general del dataset
#print(df_books.info())
# Estadísticas básicas
#print(df_books.describe(include="all"))

print(df_books.columns)

print(df_books.dtypes)

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')
ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

C:\Users\pamel\AppData\Local\Temp\ipykernel_35904\675331386.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv('data/books.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')

In [10]:
import pandas as pd

# --- Conversión de tipos ---
# Convertir Year-Of-Publication a numérico (int), manejando errores
df_books['Year-Of-Publication'] = pd.to_numeric(
    df_books['Year-Of-Publication'], errors='coerce'
).astype('Int64')  # Int64 soporta nulos

# Convertir columnas de texto repetitivo a categorías
df_books['Book-Author'] = df_books['Book-Author'].astype('category')
df_books['Publisher'] = df_books['Publisher'].astype('category')

# Usar ISBN como índice (clave primaria)
df_books.set_index('ISBN', inplace=True)

# --- Limpieza de NaN / null ---
# Eliminar filas con cualquier NaN en columnas críticas
df_books['Book-Author'] = df_books['Book-Author'].cat.add_categories(['Desconocido']).fillna('Desconocido')
df_books['Publisher']   = df_books['Publisher'].cat.add_categories(['Sin editorial']).fillna('Sin editorial')
df_books['Year-Of-Publication'] = df_books['Year-Of-Publication'].fillna(0000)  

#df_books = df_books.dropna(subset=['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher'])

# Si quieres eliminar absolutamente todos los NaN en el DataFrame:
# df_books = df_books.dropna(how='any')

# --- Validación ---
print(df_books.info())
print(df_books.head())

<class 'pandas.core.frame.DataFrame'>
Index: 271360 entries, 0195153448 to 0767409752
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Book-Title           271360 non-null  object
 1   Book-Author          271360 non-null  category
 2   Year-Of-Publication  271360 non-null  Int64
 3   Publisher            271360 non-null  category
 4   Image-URL-S          271360 non-null  object
 5   Image-URL-M          271360 non-null  object
 6   Image-URL-L          271357 non-null  object
dtypes: Int64(1), category(2), object(4)
memory usage: 19.7+ MB
None
                                                   Book-Title  \
ISBN
0195153448                                Classical Mythology
0002005018                                       Clara Callan
0060973129                               Decision in Normandy
0374157065  Flu: The Story of the Great Influenza Pandemic...
0393045218                             The Mummies of Urumchi

                     Book-Author  Year-Of-Publication  \
ISBN
0195153448    Mark P. O. Morford                 2002
0002005018  Richard Bruce Wright                 2001
0060973129          Carlo D'Este                 1991
0374157065      Gina Bari Kolata                 1999
0393045218       E. J. W. Barber                 1999

                             Publisher  \
ISBN
0195153448     Oxford University Press
0002005018       HarperFlamingo Canada
0060973129             HarperPerennial
0374157065        Farrar Straus Giroux
0393045218  W. W. Norton &amp; Company

                                                  Image-URL-S  \
ISBN
0195153448  http://images.amazon.com/images/P/0195153448.0...
0002005018  http://images.amazon.com/images/P/0002005018.0...
0060973129  http://images.amazon.com/images/P/0060973129.0...
0374157065  http://images.amazon.com/images/P/0374157065.0...
0393045218  http://images.amazon.com/images/P/0393045218.0...

                                                  Image-URL-M  \
ISBN
0195153448  http://images.amazon.com/images/P/0195153448.0...
0002005018  http://images.amazon.com/images/P/0002005018.0...
0060973129  http://images.amazon.com/images/P/0060973129.0...
0374157065  http://images.amazon.com/images/P/0374157065.0...
0393045218  http://images.amazon.com/images/P/0393045218.0...

                                                  Image-URL-L
ISBN
0195153448  http://images.amazon.com/images/P/0195153448.0...
0002005018  http://images.amazon.com/images/P/0002005018.0...
0060973129  http://images.amazon.com/images/P/0060973129.0...
0374157065  http://images.amazon.com/images/P/0374157065.0...
0393045218  http://images.amazon.com/images/P/0393045218.0...

In [11]:
print(df_books.columns)

print(df_books.dtypes)

df_books['Book-Author'].unique()
df_books['Publisher'].unique()
df_books['Year-Of-Publication'].unique()

# Conteo de libros por año
conteo_por_año = df_books['Year-Of-Publication'].value_counts().sort_index()

print(conteo_por_año)

Index(['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')
Book-Title               object
Book-Author            category
Year-Of-Publication       Int64
Publisher              category
Image-URL-S              object
Image-URL-M              object
Image-URL-L              object
dtype: object
Year-Of-Publication
0       4621
1376       1
1378       1
1806       1
1897       1
        ...
2026       1
2030       7
2037       1
2038       1
2050       2
Name: count, Length: 116, dtype: Int64

In [12]:
import pandas as pd

# Leer el CSV
df_ratings = pd.read_csv('data/ratings.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
# Mostrar las primeras filas
print(df_ratings.head())
# Información general del dataset
print(df_ratings.info())
# Estadísticas básicas
print(df_ratings.describe(include="all"))

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
None
             User-ID        ISBN   Book-Rating
count   1.149780e+06     1149780  1.149780e+06
unique           NaN      340556           NaN
top              NaN  0971880107           NaN
freq             NaN        2502           NaN
mean    1.403864e+05         NaN  2.866950e+00
std     8.056228e+04         NaN  3.854184e+00
min     2.000000e+00         NaN  0.000000e+00
25%     7.034500e+04         NaN  0.000000e+00
50%     1.410100e+05         NaN  0.000000e+00
75%     2.110280e+05         NaN  7.000000e+00
max     2.788540e+05         NaN  1.000000e+01

In [13]:
import pandas as pd

# Leer el CSV
df_users = pd.read_csv('data/users.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
# Mostrar las primeras filas
print(df_users.head())
# Información general del dataset
print(df_users.info())
# Estadísticas básicas
print(df_users.describe(include="all"))

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB
None
             User-ID                         Location            Age
count   278858.00000                           278858  168096.000000
unique           NaN                            57339            NaN
top              NaN  london, england, united kingdom            NaN
freq             NaN                             2506            NaN
mean    139429.50000                              NaN      34.751434
std      80499.51502                              NaN      14.428097
min          1.00000                              NaN       0.000000
25%      69715.25000                              NaN      24.000000
50%     139429.50000                              NaN      32.000000
75%     209143.75000                              NaN      44.000000
max     278858.00000                              NaN     244.000000

In [16]:
import streamlit as st
import pandas as pd

# --- Cargar datasets ---
df_books   = pd.read_csv("data/books.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
df_ratings = pd.read_csv("data/ratings.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
df_users   = pd.read_csv("data/users.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')

# --- Integración básica ---
df_books_ratings = pd.merge(df_ratings, df_books, on="ISBN", how="inner")
df_full = pd.merge(df_books_ratings, df_users, on="User-ID", how="inner")

C:\Users\pamel\AppData\Local\Temp\ipykernel_35904\860718403.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books   = pd.read_csv("data/books.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')

In [18]:
df_full.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L', 'Location', 'Age'],
      dtype='object')

In [ ]:
from lightfm import LightFM
from lightfm.data import Dataset

# Crear dataset
dataset = Dataset()
dataset.fit(df_full['User-ID'], df_full['ISBN'])

# Añadir features de libros
dataset.fit_partial(items=df_full['ISBN'],
                    item_features=df_full['Book-Author'] + " " + df_full['Publisher'])

(interactions, weights) = dataset.build_interactions(
    [(row['User-ID'], row['ISBN'], row['Book-Rating']) for _, row in df_full.iterrows()]
)

item_features = dataset.build_item_features(
    [(row['ISBN'], [row['Book-Author'], row['Publisher'], str(row['Year-Of-Publication'])])
     for _, row in df_full.iterrows()]
)

# Entrenar modelo
model = LightFM(loss='warp')
model.fit(interactions, item_features=item_features, epochs=30, num_threads=4)

In [ ]:
df_full.size

In [ ]:
import requests

# ⚠️ Usa la IP de WSL que obtuviste con `hostname -I` (ejemplo: 172.23.30.108)
OLLAMA_HOST = "http://172.23.30.108:11434"

# 1. Verificar modelos disponibles
try:
    resp = requests.get(f"{OLLAMA_HOST}/api/tags", timeout=10)
    resp.raise_for_status()
    print("Modelos disponibles:", resp.json())
except Exception as e:
    print("❌ No se pudo conectar a Ollama:", e)

# 2. Probar generación con llama2
payload = {
    "model": "llama2:latest",   # usa el nombre exacto del modelo instalado
    "prompt": "Recomiéndame un libro muy valorado"
}

try:
    resp = requests.post(f"{OLLAMA_HOST}/api/generate", json=payload, stream=True, timeout=30)
    resp.raise_for_status()
    print("\nRespuesta del modelo:")
    for line in resp.iter_lines():
        if line:
            print(line.decode("utf-8"))
except Exception as e:
    print("❌ Error al generar respuesta:", e)