In [22]:
import pandas as pd

# Leer el CSV
df_books = pd.read_csv('data/books.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
# Mostrar las primeras filas
#print(df_books.head())
# Informaci칩n general del dataset
#print(df_books.info())
# Estad칤sticas b치sicas
#print(df_books.describe(include="all"))

print(df_books.columns)

print(df_books.dtypes)

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')
ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

C:\Users\pamel\AppData\Local\Temp\ipykernel_7468\675331386.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv('data/books.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')

In [23]:
import pandas as pd

# --- Conversi칩n de tipos ---
# Convertir Year-Of-Publication a num칠rico (int), manejando errores
df_books['Year-Of-Publication'] = pd.to_numeric(
    df_books['Year-Of-Publication'], errors='coerce'
).astype('Int64')  # Int64 soporta nulos

# Convertir columnas de texto repetitivo a categor칤as
df_books['Book-Author'] = df_books['Book-Author'].astype('category')
df_books['Publisher'] = df_books['Publisher'].astype('category')

# Usar ISBN como 칤ndice (clave primaria)
df_books.set_index('ISBN', inplace=True)

# --- Limpieza de NaN / null ---
# Eliminar filas con cualquier NaN en columnas cr칤ticas
df_books['Book-Author'] = df_books['Book-Author'].cat.add_categories(['Desconocido']).fillna('Desconocido')
df_books['Publisher']   = df_books['Publisher'].cat.add_categories(['Sin editorial']).fillna('Sin editorial')
df_books['Year-Of-Publication'] = df_books['Year-Of-Publication'].fillna(0000)  

#df_books = df_books.dropna(subset=['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher'])

# Si quieres eliminar absolutamente todos los NaN en el DataFrame:
# df_books = df_books.dropna(how='any')

# --- Validaci칩n ---
print(df_books.info())
print(df_books.head())

<class 'pandas.core.frame.DataFrame'>
Index: 271360 entries, 0195153448 to 0767409752
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Book-Title           271360 non-null  object
 1   Book-Author          271360 non-null  category
 2   Year-Of-Publication  271360 non-null  Int64
 3   Publisher            271360 non-null  category
 4   Image-URL-S          271360 non-null  object
 5   Image-URL-M          271360 non-null  object
 6   Image-URL-L          271357 non-null  object
dtypes: Int64(1), category(2), object(4)
memory usage: 19.7+ MB
None
                                                   Book-Title  \
ISBN
0195153448                                Classical Mythology
0002005018                                       Clara Callan
0060973129                               Decision in Normandy
0374157065  Flu: The Story of the Great Influenza Pandemic...
0393045218                             The Mummies of Urumchi

                     Book-Author  Year-Of-Publication  \
ISBN
0195153448    Mark P. O. Morford                 2002
0002005018  Richard Bruce Wright                 2001
0060973129          Carlo D'Este                 1991
0374157065      Gina Bari Kolata                 1999
0393045218       E. J. W. Barber                 1999

                             Publisher  \
ISBN
0195153448     Oxford University Press
0002005018       HarperFlamingo Canada
0060973129             HarperPerennial
0374157065        Farrar Straus Giroux
0393045218  W. W. Norton &amp; Company

                                                  Image-URL-S  \
ISBN
0195153448  http://images.amazon.com/images/P/0195153448.0...
0002005018  http://images.amazon.com/images/P/0002005018.0...
0060973129  http://images.amazon.com/images/P/0060973129.0...
0374157065  http://images.amazon.com/images/P/0374157065.0...
0393045218  http://images.amazon.com/images/P/0393045218.0...

                                                  Image-URL-M  \
ISBN
0195153448  http://images.amazon.com/images/P/0195153448.0...
0002005018  http://images.amazon.com/images/P/0002005018.0...
0060973129  http://images.amazon.com/images/P/0060973129.0...
0374157065  http://images.amazon.com/images/P/0374157065.0...
0393045218  http://images.amazon.com/images/P/0393045218.0...

                                                  Image-URL-L
ISBN
0195153448  http://images.amazon.com/images/P/0195153448.0...
0002005018  http://images.amazon.com/images/P/0002005018.0...
0060973129  http://images.amazon.com/images/P/0060973129.0...
0374157065  http://images.amazon.com/images/P/0374157065.0...
0393045218  http://images.amazon.com/images/P/0393045218.0...

In [28]:
print(df_books.columns)

print(df_books.dtypes)

df_books['Book-Author'].unique()
df_books['Publisher'].unique()
df_books['Year-Of-Publication'].unique()

# Conteo de libros por a침o
conteo_por_a침o = df_books['Year-Of-Publication'].value_counts().sort_index()

print(conteo_por_a침o)

Index(['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')
Book-Title               object
Book-Author            category
Year-Of-Publication       Int64
Publisher              category
Image-URL-S              object
Image-URL-M              object
Image-URL-L              object
dtype: object
Year-Of-Publication
0       4621
1376       1
1378       1
1806       1
1897       1
        ...
2026       1
2030       7
2037       1
2038       1
2050       2
Name: count, Length: 116, dtype: Int64

In [10]:
import pandas as pd

# Leer el CSV
df_ratings = pd.read_csv('data/ratings.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
# Mostrar las primeras filas
print(df_ratings.head())
# Informaci칩n general del dataset
print(df_ratings.info())
# Estad칤sticas b치sicas
print(df_ratings.describe(include="all"))

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
None
             User-ID        ISBN   Book-Rating
count   1.149780e+06     1149780  1.149780e+06
unique           NaN      340556           NaN
top              NaN  0971880107           NaN
freq             NaN        2502           NaN
mean    1.403864e+05         NaN  2.866950e+00
std     8.056228e+04         NaN  3.854184e+00
min     2.000000e+00         NaN  0.000000e+00
25%     7.034500e+04         NaN  0.000000e+00
50%     1.410100e+05         NaN  0.000000e+00
75%     2.110280e+05         NaN  7.000000e+00
max     2.788540e+05         NaN  1.000000e+01

In [11]:
import pandas as pd

# Leer el CSV
df_users = pd.read_csv('data/users.csv',encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
# Mostrar las primeras filas
print(df_users.head())
# Informaci칩n general del dataset
print(df_users.info())
# Estad칤sticas b치sicas
print(df_users.describe(include="all"))

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB
None
             User-ID                         Location            Age
count   278858.00000                           278858  168096.000000
unique           NaN                            57339            NaN
top              NaN  london, england, united kingdom            NaN
freq             NaN                             2506            NaN
mean    139429.50000                              NaN      34.751434
std      80499.51502                              NaN      14.428097
min          1.00000                              NaN       0.000000
25%      69715.25000                              NaN      24.000000
50%     139429.50000                              NaN      32.000000
75%     209143.75000                              NaN      44.000000
max     278858.00000                              NaN     244.000000

C:\Users\pamel\AppData\Local\Temp\ipykernel_7468\1877923362.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books   = pd.read_csv("data/books.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031128 entries, 0 to 1031127
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031128 non-null  int64
 1   ISBN                 1031128 non-null  object
 2   Book-Rating          1031128 non-null  int64
 3   Book-Title           1031128 non-null  object
 4   Book-Author          1031128 non-null  category
 5   Year-Of-Publication  1031128 non-null  Int64
 6   Publisher            1031128 non-null  category
 7   Image-URL-S          1031128 non-null  object
 8   Image-URL-M          1031128 non-null  object
 9   Image-URL-L          1031128 non-null  object
 10  Location             1031128 non-null  object
 11  Age                  753295 non-null   float64
dtypes: Int64(1), category(2), float64(1), int64(2), object(6)
memory usage: 91.0+ MB
None
   User-ID        ISBN  Book-Rating  \
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

                                          Book-Title      Book-Author  \
0                               Flesh Tones: A Novel       M. J. Rose
1                                   Rites of Passage       Judith Rae
2                                       The Notebook  Nicholas Sparks
3                                     Help!: Level 1    Philip Prowse
4  The Amsterdam Connection : Level 4 (Cambridge ...      Sue Leather

   Year-Of-Publication                   Publisher  \
0                 2002            Ballantine Books
1                 2001                      Heinle
2                 1996                Warner Books
3                 1999  Cambridge University Press
4                 2001  Cambridge University Press

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/034545104X.0...
1  http://images.amazon.com/images/P/0155061224.0...
2  http://images.amazon.com/images/P/0446520802.0...
3  http://images.amazon.com/images/P/052165615X.0...
4  http://images.amazon.com/images/P/0521795028.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/034545104X.0...
1  http://images.amazon.com/images/P/0155061224.0...
2  http://images.amazon.com/images/P/0446520802.0...
3  http://images.amazon.com/images/P/052165615X.0...
4  http://images.amazon.com/images/P/0521795028.0...

                                         Image-URL-L  \
0  http://images.amazon.com/images/P/034545104X.0...
1  http://images.amazon.com/images/P/0155061224.0...
2  http://images.amazon.com/images/P/0446520802.0...
3  http://images.amazon.com/images/P/052165615X.0...
4  http://images.amazon.com/images/P/0521795028.0...

                        Location   Age
0              tyler, texas, usa   NaN
1       seattle, washington, usa   NaN
2  h, new south wales, australia  16.0
3           rijeka, n/a, croatia  16.0
4           rijeka, n/a, croatia  16.0

In [ ]:
df_full.size

In [ ]:
import streamlit as st
import pandas as pd

# --- Cargar datasets ---
df_books   = pd.read_csv("data/books.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
df_ratings = pd.read_csv("data/ratings.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
df_users   = pd.read_csv("data/users.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')

# --- Integraci칩n b치sica ---
df_books_ratings = pd.merge(df_ratings, df_books, on="ISBN", how="inner")
df_full = pd.merge(df_books_ratings, df_users, on="User-ID", how="inner")
# --- Funciones de b칰squeda ---
def get_top_books(n=10):
    return (df_full.groupby("Book-Title")["Book-Rating"]
            .mean()
            .sort_values(ascending=False)
            .head(n))

def get_books_by_author(author):
    return df_books[df_books["Book-Author"].str.contains(author, case=False, na=False)]["Book-Title"].unique()

def get_books_by_year(year):
    return df_books[df_books["Year-Of-Publication"] == year]["Book-Title"].unique()

# --- Interfaz Streamlit ---
st.title("Chatbot de Libros 游닄")

option = st.selectbox(
    "쯈u칠 quieres consultar?",
    ("Top libros mejor valorados", "Buscar por autor", "Buscar por a침o")
)

if option == "Top libros mejor valorados":
    n = st.slider("N칰mero de libros", 5, 20, 10)
    st.write(get_top_books(n))

elif option == "Buscar por autor":
    author = st.text_input("Nombre del autor:")
    if author:
        st.write(get_books_by_author(author))

elif option == "Buscar por a침o":
    year = st.number_input("A침o de publicaci칩n:", min_value=1900, max_value=2025, step=1)
    if year:
        st.write(get_books_by_year(year))

C:\Users\pamel\AppData\Local\Temp\ipykernel_7468\3540306432.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books   = pd.read_csv("data/books.csv", encoding='ISO-8859-1', on_bad_lines='skip',sep=';')
2025-11-30 20:51:14.031 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.031 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.043 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.046 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.046 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.046 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.052 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.057 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.058 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.059 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.061 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.063 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.065 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.067 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.069 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:14.071 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:15.351 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:15.353 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-30 20:51:15.354 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [43]:
df_full

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,"tyler, texas, usa",NaN
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,"seattle, washington, usa",NaN
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,"h, new south wales, australia",16.0
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,"rijeka, n/a, croatia",16.0
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,"rijeka, n/a, croatia",16.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,276704,0876044011,0,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998,A.R.E. Press (Association of Research &amp; Enlig,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...,"cedar park, texas, usa",NaN
1031132,276704,1563526298,9,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000,Longstreet Press,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,"cedar park, texas, usa",NaN
1031133,276706,0679447156,0,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997,Alfred A. Knopf,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,"quebec, quebec, canada",18.0
1031134,276709,0515107662,10,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996,Jove Books,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,"mannington, west virginia, usa",38.0
1031135,276721,0590442449,10,Fourth Grade Rats,Jerry Spinelli,1996,Scholastic,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,"providence, rhode island, usa",14.0

In [ ]:
from lightfm import LightFM
from lightfm.data import Dataset

# Crear dataset
dataset = Dataset()
dataset.fit(df_full['User-ID'], df_full['ISBN'])

# A침adir features de libros
dataset.fit_partial(items=df_full['ISBN'],
                    item_features=df_full['Book-Author'] + " " + df_full['Publisher'])

(interactions, weights) = dataset.build_interactions(
    [(row['User-ID'], row['ISBN'], row['Book-Rating']) for _, row in df_full.iterrows()]
)

item_features = dataset.build_item_features(
    [(row['ISBN'], [row['Book-Author'], row['Publisher'], str(row['Year-Of-Publication'])])
     for _, row in df_full.iterrows()]
)

# Entrenar modelo
model = LightFM(loss='warp')
model.fit(interactions, item_features=item_features, epochs=30, num_threads=4)

In [44]:
df_full.size

12373632